body {
  background-color: #f3f1f7;
}

.App {
  display: flex;
  justify-content: center;
}

.section {
  background-color: red;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Homemade Apple";
  color: #03a9f4;
  align-self: center;
}

.newthought {
  background-color: #03a9f4;
  font-family: "Dosis";
  color: white;
  font-weight: 700;
  border-radius: 5px;
  width: 75%;
  align-self: center;
}

.isformvisible {
  display: flex;
}

.textbox {
  background-color: white;
  border-bottom: 1px solid grey;
}

h2 {
  background-color: green;
}

.title {
  font-family: "Dosis";
  font-weight: 700;
}

.thought {
  font-family: "Dosis";
  font-weight: 400;
}

.button {
  align-items: flex-end;
}
