body {
  background-color: #f3f1f7;
}

.App {
  text-align: center;
}

.newthought {
  background-color: #03a9f4;
  font-family: "Dosis";
  color: white;
  font-weight: 700;
  border-radius: 5px;
  width: 75%;
}

h1 {
  font-family: "Homemade Apple";
  color: #03a9f4;
}

.title {
  font-family: "Dosis";
  font-weight: 700;
}

.thought {
  font-family: "Dosis";
  font-weight: 400;
}

.textbox {
  background-color: white;
  border-bottom: 1px solid grey;
}
